<ion-view view-title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-init="init()">
        <div class="spacer" style="width: 300px; height: 369px;"></div>
        <a href="#/professional/calendar" class="button button-positive button-block  icon-left ion-log-in" ng-click="facebookLogin('customer')">Customer</a>
        <a href="#/professional/calendar" class="button button-positive button-block  icon-left ion-log-in" ng-click="facebookLogin('professional')">Professional</a>
    </ion-content>
</ion-view>
