<ion-view view-title="Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-init="init()">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <img ng-src='{{profile.picture}}' class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></img>
        </div>
        <form class="list"></form>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Nome :</span>
                <input type="text" placeholder="" ng-model="profile.name">
            </label>
            <label class="item item-input">
                <span class="input-label">email :</span>
                <input type="text" placeholder="" ng-model="profile.email">
            </label>
        </ion-list>
    </ion-content>
</ion-view>
