<ion-view>
  <ion-nav-title>{{ dayName }}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-compose-outline" ng-click="toggleEdit()" ng-disabled="editing"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list">
      <ion-list show-delete="deleting">
          <ion-item ng-repeat="shift in day.shifts">
            <ion-delete-button class="ion-minus-circled" ng-click="remove(shift)"></ion-delete-button>
            <input type="time" ng-model="shift.startFull" ng-readonly="!editing"></input>
            <input type="time" ng-model="shift.endFull"   ng-readonly="!editing"></input>
          </ion-item>
      </ion-list>
      <div class="button-bar" ng-show="editing">
          <button class="button button-stable button-positive" ng-click="add()">Add</button>
          <button class="button button-stable button-assertive" ng-click="deleting = !deleting">Delete</button>
          <button class="button button-stable button-balanced" ng-click="save(day)">Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
