<ion-view view-title="Schedule">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/pro-schedule-detail">
                <img>
                <h2>Segunda-Feira</h2>
                <p>08:00 - 12:00 / 13:00 - 17:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/pro-schedule-detail">
                <img>
                <h2>Terça-Feira</h2>
                <p>08:00 - 12:00 / 13:00 - 17:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/pro-schedule-detail">
                <img>
                <h2>Quarta-Feira</h2>
                <p>08:00 - 12:00 / 13:00 - 17:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/pro-schedule-detail">
                <img>
                <h2>Quinta-Feira</h2>
                <p>08:00 - 12:00 / 13:00 - 17:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/pro-schedule-detail">
                <img>
                <h2>Sexta-Feira</h2>
                <p>08:00 - 12:00 / 13:00 - 17:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/pro-schedule-detail">
                <img>
                <h2>Sábado</h2>
                <p>09:00 - 12:00 / 14:00 - 19:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/pro-schedule-detail">
                <img>
                <h2>Domingo</h2>
                <p>-</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>