<ion-view title="Service Detail">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" name="active">Ativo</ion-toggle>
            <label class="item item-input" name="price">
                <span class="input-label">Preço</span>
                <input type="number" placeholder="R$ 0,00">
            </label>
            <label class="item item-input" name="interval">
                <span class="input-label">Intervalo</span>
                <input type="number" placeholder="15 min">
            </label>
        </form>
    </ion-content>
</ion-view>